.project {
  margin-bottom: 10rem;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  max-width: 100%;
  position: relative;

  &:nth-of-type(even) {
    flex-direction: row-reverse;

    .project--contents {
      left: 20%;
      text-align: right;

      &__title {
        padding: 2rem;
        margin-right: 12%;
      }

      &__techs {
        padding: 2rem;
        margin-right: 12%;        
      }

      &__links {
        margin-right: 12%;        
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .project {
    display: block;

    &:nth-of-type(even) {
      text-align: inherit;
      display: block;

      .project--contents {
        left: 0;
        text-align: inherit;
  
        &__title {
          padding: 2rem;
          margin-right: 0;
        }
  
        &__techs {
          padding: 2rem;
          margin-right: 0;        
        }
  
        &__links {
          margin-right: 0;        
        }
      }
    }
  }
}
