.project {
  margin-bottom: 10rem;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  max-width: 100%;
  position: relative;

  &:nth-of-type(even) {
    flex-direction: row-reverse;

    .project--contents {
      left: 20%;
      text-align: right;

      &__title {
        padding: 2rem;
        margin-right: 12%;
      }

      &__techs {
        padding: 2rem;
        margin-right: 12%;        
      }

      &__links {
        margin-right: 12%;        
      }
    }
  }
}
