.project {
  margin-bottom: 10rem;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  max-width: 100%;
  position: relative;

  .project--contents {
    &__techs {
      justify-content: flex-start;
    }
  }

  &:nth-of-type(even) {
    flex-direction: row-reverse;

    .project--contents {
      left: 20%;
      text-align: right;

      &__title {
        padding: 2rem;
        margin-right: 12%;
      }

      &__techs {
        padding: 2rem;
        margin-right: 12%;
        justify-content: flex-end;     
      }

      &__links {
        margin-right: 12%;  
        text-align: right;      
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .project {
    display: block;

    .project--contents {
      &__techs {
        justify-content: center;
      }
    }

    &:nth-of-type(even) {
      text-align: inherit;
      display: block;

      .project--contents {
        left: 0;
        text-align: inherit;
  
        &__title {
          padding: 2rem;
          margin: 0;
          text-align: center;
        }
  
        &__techs {
          padding: 2rem;
          margin: 0;
          justify-content: center;     
        }
  
        &__links {
          margin: 0;
          text-align: center;    
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .project {
    display: block;

    .project--contents {
      &__techs {
        justify-content: center;
      }
    }

    &:nth-of-type(even) {
      text-align: inherit;
      display: block;

      .project--contents {
        left: 0;
        text-align: inherit;
  
        &__title {
          padding: 2rem;
          margin: 0;
          text-align: center;
        }
  
        &__techs {
          padding: 2rem;
          margin: 0;
          justify-content: center;     
        }
  
        &__links {
          margin: 0;
          text-align: center;    
        }
      }
    }
  }
}
