body {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

.heading-primary {
  color: $color-white;
  line-height: 1;
  margin-left: 10rem;

  &--pre {
    display: block;
    font-size: 8rem;
  }

  &--main {
    display: block;
    font-size: 20rem;
    margin-left: 7rem;
    margin-bottom: 4rem;
    max-width: 60%;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    margin-left: 8rem;
    width: 40%;
  }
}

.emphasis {
  color: $color-primary;
}


.section-heading {
  color: $color-white;
  display: grid;
  line-height: 1;
  margin-bottom: 8rem;
  margin-top: 5rem;

  &--background {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 9rem;
    color: $color-secondary;
    font-weight: 200;
    width: 50%;
  }

  &--foreground {
    grid-area: 2 / 1 / 2 / 2;
    color: $color-white;
    margin-left: 3rem;

    .title {
      font-size: 10rem;
      line-height: 0;

      // &:after {
      //   content: "";
      //   display: block;
      //   height: 2px;
      //   width: 25rem;
      //   background-color: $color-white;
      //   position: relative;
      //   bottom: 2rem;
      //   margin-left: 25rem;
      // }
    }
  }
}

a {
  text-decoration: none;
  font-size: 1.7rem;
  color: $color-white;
  display: inline-block;
  
  &:after {
    visibility: hidden;
    content: "";
    display: block;
    height: 0.2rem;
    top: 0.1rem;
    background-color: $color-primary;
    position: relative;
    transform: scaleX(0);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &:hover:after {
    visibility: visible;
    transform: scaleX(1);
  }
}
