$color-background: #264653;
$color-container-background: #305a6b;
$color-primary: #e76f51;
$color-secondary: rgba(244,162,97, .3);
$color-complimentary: #2a9d8f;
$color-white: rgba(255, 255, 255, 0.90);
