@import '../../styles/variables';

.contact {
  font-size: 1.8rem;
  margin-bottom: 15rem;
  display: block;

  &--content {
    width: 60%;
    margin: 0 auto;
    text-align: center;

    &__primary {
      font-size: 4rem;
      display: block;
      font-weight: 600;
    }

    &__sub {
      display: block;
      font-weight: 400;
    }

    .socials--container {
      margin: 4rem 0;
      padding: 2.5rem;
      background-color: $color-container-background;
      box-shadow: 0 0.6rem 2rem darken($color: $color-container-background, $amount: 15%);
    }
  }
}
