@import '../../styles/variables';
@import '../../styles/typography';

.home {
  height: 100vh;

  .hero {
    display: flex;
    margin-bottom: 15rem;
    position: relative;
    height: inherit;
  }

  .compass--container {
    flex-direction: column;
    display: flex;
    max-height: 60rem;
    align-self: center;
    position: absolute;
    right: 15%;
    top: 50%;
  }
}

@media screen and (max-width: 767px) {
  .compass--container {
    display: none;
  }
}
