@import '../../styles/variables';
@import '../../styles/typography';

.home {
  height: 100vh;

  .hero {
    display: block;
    margin-bottom: 15rem;
  }

  .socials--container {
    text-align: center;
    background-color: $color-complimentary;
  }
}
