@import '../../styles/variables';

.work-list-panel {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  padding-left: 3rem;

  &__container {
    letter-spacing: 0.05rem;

    .title {
      color: $color-white;
      letter-spacing: 0.05rem;

      .company {
        text-decoration: none;
        color: $color-primary;
      }
    }

    .dates {
      font-weight: 400;
    }

    .bullets {
      margin-top: 1rem;
      margin-left: 2rem;
      list-style: none;
      
      .bullet {
        padding-bottom: 1rem;

        &:last-of-type {
          padding-bottom: 0;
        }
      }

      .bullet::before {
        content: "\2022";  
        color: $color-primary;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  .work-list-panel {
    display: block;
    margin-bottom: 2rem;
    background-color: $color-container-background;
    padding: 2rem;
    box-shadow: 0 0.6rem 2rem darken($color: $color-container-background, $amount: 15%);
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .work-list-panel {
    display: block;
    margin-bottom: 2rem;
    background-color: $color-container-background;
    padding: 2rem;
    box-shadow: 0 0.6rem 2rem darken($color: $color-container-background, $amount: 15%);
    font-size: 1.7rem;
  }
}

