@import '../../styles/variables';

.work {
  color: $color-white;
  font-size: 1.7rem;
  margin-bottom: $section-margin;

  &-list {
    display: grid;
    grid-template-columns: 29% 69%;
    background-color: $color-container-background;
    padding: 2rem;
    box-shadow: 0 0.6rem 2rem darken($color: $color-container-background, $amount: 15%);
  }
}
