@import '../../styles/variables';

.work-list-tabs {
  display: grid;
  
  &--selection {
    list-style: none;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

    &__tab {
      padding: 1rem 2rem;
      border-left: 3px solid $color-complimentary;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: $color-secondary;
        cursor: pointer;
        color: $color-primary;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  .active {
    border-left: 3px solid $color-primary;
    color: $color-primary;
    font-weight: 600;
  }
}

@media screen and (max-width: 767px) {
  .work-list-tabs {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .work-list-tabs {
    display: none;
  }
}

